@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generador de Tablas para Loteria Mexicana</h1>
    <a class="btn btn-danger" asp-area="" asp-controller="Tablas" asp-action="Index">Tablas</a>
</div>
